<section>
  <div class="our-team-container">
    <h2 class="our-team">Our team</h2>
    <p class="team-paragraf">
      Our team is made up of talented and passionate individuals who are
      committed to providing the best experience for our users. Each member
      brings a unique set of skills and expertise to the table, allowing us to
      work collaboratively and effectively to achieve our goals.
    </p>
    <div class="our-team-photo">
      <ul>
        <li class="our-photo-block">
          <div class="photo-block">
            <img
              class="photo"
              src="../img/our-team/bytesize_photo.jpg"
              alt="David Patel"
            />
            <h3 class="photo-name">David Patel</h3>
            <p class="photo-paragraf">Managing Direcor</p>
          </div>
        </li>
        <li class="our-photo-block">
          <div class="photo-block">
            <img
              class="photo"
              src="../img/our-team/bytesize_photo(1).jpg"
              alt="Lead Designer"
            />
            <h3 class="photo-name">Rachel Kim</h3>
            <p class="photo-paragraf">Lead Designer</p>
          </div>
        </li>
        <li class="our-photo-block">
          <div class="photo-block">
            <img
              class="photo"
              src="../img/our-team/bytesize_photo(2).jpg"
              alt="Samantha Chen"
            />
            <h3 class="photo-name">Samantha Chen</h3>
            <p class="photo-paragraf">Lead Developer</p>
          </div>
        </li>
        <li class="our-photo-block">
          <div class="photo-block">
            <img
              class="photo"
              src="../img/our-team/bytesize_photo(3).jpg"
              alt="Andrew Nguyen"
            />
            <h3 class="photo-name">Andrew Nguyen</h3>
            <p class="photo-paragraf">Sr. UI Designer</p>
          </div>
        </li>
      </ul>
    </div>
    <h2 class="our-costumers">what our costumers say</h2>
    <div class="photo-jon">
      <img src="../img/our-team/Ellipse 1.jpg" alt="Jon Doe" />
      <h3 class="photo-name-jon">Jon Doe</h3>
      <p>Company Inc.</p>
    </div>
  </div>
</section>
