<header class="header">
  <div class="navigation-menu">
    <a class="logo" href="../index.html">Mobileapp</a>
    <nav class="navigation">
      <ul class="navigation-items-list">
        <li class="navigation-item"><a href="">HOME</a></li>
        <li class="navigation-item"><a href="">FEATURES</a></li>
        <li class="navigation-item"><a href="">TEAM</a></li>
        <li class="navigation-item"><a href="">TESTIMONIALS</a></li>
        <li class="navigation-item"><a href="">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
